<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>

    
      
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Comments
            </a>
            <ul class="dropdown-menu">

                <li><a class="dropdown-item" asp-area="Administrator" asp-controller="AuctionComment" asp-action="All">All Auction Comments</a></li>
            <li><a class="dropdown-item" asp-area="Administrator" asp-controller="UserComment" asp-action="All">All User Comments</a></li>
                
            </ul>
        </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Users
        </a>
        <ul class="dropdown-menu">

            <li><a class="dropdown-item" asp-area="Administrator" asp-controller="User" asp-action="All">All Users</a></li>
            <li><a class="dropdown-item" asp-area="Administrator" asp-controller="User" asp-action="Add">Add Users</a></li>

        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Administrator" asp-controller="Auction" asp-action="All">All Auctions</a>
    </li>
</ul>



