@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <h1 class="display-4">Auction System</h1>
    <p>The perfect place for shopping.</p>
    <img class="home-page-image" src="~/img/auction-website.png" style="width: 80vh" />
</div>
