@{
    ViewData["Title"] = "DashBoard";
}

<div class="mt-4  text-center">
    <h2 class="display-4"><b>Hello, Moderator!</b></h2>
    <p class="lead mb-1 mt-3">
        This is your moderator area!
    </p>
</div>