<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>

    @if (this.User?.Identity?.IsAuthenticated ?? false)
    {

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Auctions
            </a>
            <ul class="dropdown-menu">

                <li><a class="dropdown-item" asp-area="" asp-controller="Auction" asp-action="All">All Auction</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Auction" asp-action="Add">Add Auction</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
            </a>
            <ul class="dropdown-menu">

                <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="MyInfo">My Profile</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="MyAuctions">My Auctions</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="MyBiddings">My Biddings</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="All">All Users</a>
        </li>

      @*   <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Auction Comments
            </a>
            <ul class="dropdown-menu">

                <li><a class="dropdown-item" asp-area="" asp-controller="AuctionComment" asp-action="Add">Add Comment</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="MyAuctions">My Auctions</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="MyBiddings">My Biddings</a></li>
            </ul>
        </li> *@
       

    }
</ul>



